<% layout('./layout.html') %>

<div class="container">
    <div class="grid">
        <div class="col-12">
            <section class="flex m-bottom-5"">
                <h2 class="m-bottom-2 m-right-2 highlight">
                    Buckets
                </h2>
                <a class="button m-0 " href="/bucket/create">
                    Create
                </a>
            </section>
            <section class="m-bottom-5">
                <h3 class="highlight">
                    Your Buckets
                </h3>
                <app-buckets visiblity="private"></app-buckets>
            </section>
            <section class="m-bottom-5">
                <h3 class="highlight">
                    Other Buckets
                </h3>
                <app-buckets visiblity="public,community"></app-buckets>
            </section>
        </div>
    </div>
</div>