<% layout('./layout.html') %>

<div class="container container--app">
    <div class="grid">
        <div class="col-12">
            <a class="button m-bottom-5" href="/bucket/create">
                Create Bucket
                <svg class="icon p-left-3 size-large" aria-hidden="true">
                    <use xlink:href="/symbol-defs.svg#icon-circle-add"></use>
                </svg>
            </a>
            <section class="m-bottom-5">
                <h2 class="highlight">
                    Public
                </h2>
                <app-buckets visiblity="public"></app-buckets>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/dashboard.js" defer></script>