<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nano Buckets</title>
        <link rel="stylesheet" href="/css/index.css" />
        <script type="text/javascript" src="/js/critical.js" defer></script>
    </head>
    <body>
        <header class="app-header">
            <div class="bar">
                <div class="bar__start align-center">
                    <svg class="icon fill-text-contrast m-right-3 logo" aria-hidden="true" alt="Nano Bucket Logo">
                        <use xlink:href="/symbol-defs.svg#icon-logo"></use>
                    </svg>
                    <h1 class="h5 m-0 m-right-3">
                        Nano Bucket
                    </h1>
                </div>
                <div class="bar__main">
                    <div class="tabs tabs--contrast">
                        <a href="/" data-turbolinks="false" class="tabs__item tabs__item--selected">
                            Dashboard
                        </a>
                        <a href="/" class="tabs__item">
                            Settings
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <main class="app-main">
            <%~ it.body %>
        </main>

        <script type="text/javascript" src="/js/index.js" defer></script>
        <script type="text/javascript" src="/js/dashboard.js" defer></script>

    </body>
</html>