<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nano Buckets</title>
        <link rel="stylesheet" href="/css/index.css" />
        <script type="text/javascript" src="/js/critical.js" defer></script>
    </head>
    <body>
        <header class="app-header">
            <div class="container">
                <nav class="navbar" role="navigation" aria-label="main navigation">

                </nav>
            </div>
        </header>

        <section class="app-section">
            <div class="">

            </div>
        </section>

        <main>
            <%~ it.body %>
        </main>


    </body>
</html>