@import
    '../../node_modules/@tentakelfabrik/plain-ui/src/scss/plain-ui',

    'components/buckets',
    'components/note-form',
    'components/field';

.turbolinks-progress-bar {
    height: 5px;
    background-color: var(--danger);
}

.app-header {
    .logo {
        font-size: 1.3rem;
        fill: white;
    }
}