<app-loading>
    <div class="loading-wrapper">
        <div class="loading" if={ props.loading }>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <script>
        export default {

        }
    </script>
</app-loading>